<template lang="html">
  <div class="col-lg-4">
    <aside class="section">
      <div class="row">
        <label for="search" class="font2 col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">SEARCH</label>
        <input type="search" name="search"  class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" value="" placeholder="Look for something...">
      </div>
      <hr>
      <div class="social_icons">
        <h5 class="font2">{{social_msg}}</h5>
        <i class="fab fa-facebook-f fa-2x"></i>
        <i class="fab fa-twitter fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
        <i class="fab fa-snapchat-ghost fa-2x"></i>
        <i class="fab fa-youtube fa-2x"></i>
      </div>

    </aside>
  </div>
</template>

<script>
export default {
  data(){
    return {
      social_media:[
        {
          name:'',
          link:'',
          icon:''
        }
      ],
      social_msg:'FOLLOW US'
    }
  }
}
</script>

<style lang="css">
  svg {
    display: block !important;
    margin:1em auto 1em auto;
  }
  .social_icons {
    padding:1em;
  }
  h5, svg{
    text-align:center;
  }

  input[type="search"] {
    border: 0px;
    border-bottom: 2px solid grey;
    margin-left:0.5em;
  }

  input[type="search"]:focus {
    outline:none;
  }
</style>
