<template lang="html">
  <section class="col-lg-8">

    <div class="section">

      <ul v-for="edition in BkChat.editions">
        <li>
          <h1 class="font2 arrow" @click="open">{{edition.name}}</h1>
            <ul>
              <li v-for="season in edition.seasons">
                <h2 class="font2 arrow" @click="open">{{season.season}}</h2>
                  <ul>
                    <li v-for="member in season.castMembers">
                      <div class="row member">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                          <div class="postImg" v-bind:style="{'background-image': 'url('+ member.img +')'}"></div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                          <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                              <h4 class="font2">Name</h4>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                              <h4 class="font1">{{member.name}}</h4>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                              <h4 class="font2">profession</h4>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                              <h4 class="font1">{{member.profession}}</h4>
                            </div>
                          </div>
                          <p>{{member.description}}</p>
                        </div>
                      </div> <!-- end of member -->
                    </li>
                  </ul>
              </li>
            </ul>
        </li>
      </ul>

    </div>

  </section>
</template>

<script>

export default {
  data(){
    return {
        BkChat: {
          editions:[
            {
              name:'BkChat LDN',
              seasons:[
                {
                  season:'Season 1',
                  castMembers:[
                    {
                      name:'Ariete Santos',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Actress',
                      img:'../static/img/ariete.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Nissy Tee',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Youtuber',
                      img:'../static/img/nissy.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Honey',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/honey.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Azryah',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Singer',
                      img:'../static/img/azryah.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Esther Falana',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Entreperneur/DJ',
                      img:'../static/img/esther.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Chioma',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/chioma.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Gogo',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Photographer',
                      img:'../static/img/gogo.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Biskit',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Entreperneur',
                      img:'../static/img/biskit.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Ayo',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'DJ',
                      img:'../static/img/ayo.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Wale',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/wale.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Lucas',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/lucas.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    }
                  ]
                },
                {
                  season:'Season 2',
                  castMembers:[
                    {
                      name:'Adryn',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Singer',
                      img:'../static/img/adryn.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Riva',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Rapper/Model',
                      img:'../static/img/riva.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Sia',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Motivational speaker',
                      img:'../static/img/sia.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Ramla',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Youtuber',
                      img:'../static/img/ramla.jpeg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Corey',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/corey.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Nunu',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Model/Youtuber',
                      img:'../static/img/nunu.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Max',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Motivational Speaker',
                      img:'../static/img/max.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    }

                  ]
                },
                {
                  season:'Season 3',
                  castMembers:[
                    {
                      name:'Malaika',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Cast member',
                      img:'../static/img/malaika.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'B moni',
                      description:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
                      profession:'Rapper',
                      img:'../static/img/bmoni.jpeg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    }
                  ]
                }
              ]
            },
            {
              name:'BkChat NY',
              seasons:[
                {
                  season:'Season 1',
                  castMembers:[
                    {
                      name:'Adazze',
                      description:'The Showstopper: Adaeze is not ever a person short of words, even if she’s the only one that feels that way. This bright bubbly Brooklyn actress is ready to steal the limelight and show from anyone that tries to challenge her. Hopefully no one really breaks a leg before the reunion. Quote: “I’m fun, I’m sweet, I’m bubbly but I’m feisty so tread lightly” ',
                      profession:'Cast member',
                      img:'../static/img/adazze.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Nneoma',
                      description:'The Princess of Comedy Our Queens beauty is here to tell it as it is and shutting all the sexist shit down!!! Here to bring both a balance of real and funny, our Igbo babe shows us style and sense, while remaining calm in the midst of a storm. Her versatility with her appearance is definitely one to look out for! Quote: “People always like to believe their own truth and a lot of their truths are wrong.',
                      profession:'Cast member',
                      img:'../static/img/nneoma.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Franny',
                      description:'The Heartthrob: Our Brooklyn babe of Hatian descent has captured our eyes with her compassion and loving nature. She’s not afraid to wear her heart on her sleeves and let the world see her raw emotions; both the good and bad. Quote: “I only want honesty, pure honesty, if someone comes across as fake then I’ll let them know” ',
                      profession:'Cast member',
                      img:'../static/img/franny.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Osaze',
                      description:'The Peace Keeper: Ready to listen to what the people have to say, he brings the perfect balance of love and respect to the show. Our Brooklyn musician is ready to let us know what the guys REALLY think whilst holding the ladies down. The perfect balance of brawns and brains! Quote: “Im a perfect combo of being respectful but….I’m not a dick” ',
                      profession:'Rapper',
                      img:'../static/img/osaze.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Bukola',
                      description:'The FireCracker: Bukola is not afraid to say the truth, even if people judge her for it; after all honesty is the best policy, right? Raised in Nigeria, she stands strong whether on her own or with others and is ready for whatever (or whoever) comes her way. Quote: “I say my mind, I state my mind, if I have a problem with you, I’ll let you know about it” ',
                      profession:'Cast Member',
                      img:'../static/img/bukola.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Rusharn',
                      description:'The Representor: From London, to New Orleans and now the Bronx, Rusharn seems to have done it all! A realist with some fun and flare, he is ready for the world to know the truth and doesn’t care about what anyone feels. Time to see if his day one Brits or new NY fam will hold it down the best. Quote: “We created this platform and I’m out here to keep it going” ',
                      profession:'Cast Member',
                      img:'../static/img/rusharn.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Julyssa',
                      description:'The Lusty Latina: Our Dominican diva representing the Bronx baddies, Julyssa is here to stay. Not shy to talk about her personal life while throwing some shade at others, it’s safe to say that this Latina brings that fire to help teach the guys a thing or two on the show. Quote: “You will get to understand me” ',
                      profession:'Cast Member',
                      img:'../static/img/julyssa.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Flee',
                      description:'“The Joker”: The jokester himself, Flee is ready to bring the funny and real onto the show. Whether discussing that “A1 pussy” or saying what others are too shy to talk about, Flee is ready to bring that Harlem heat. Let’s just hope he doesn’t scare y’all away with his laughter! Quote: “I’m the one to give you that thorough shit straight outta Harlem” ',
                      profession:'Cast Member',
                      img:'../static/img/flee.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Nadiya',
                      description:'The Realist: The calm before the storm…Nadiya is not afraid to demand for silence and speak accordingly. This Ghanaian/Bronx babe knows how to demand her audience. Also known for the shade on (and off camera), Nadiya isn’t afraid to express her opinion on whether your points are accurate or straight up stupid. Quote: “I keep it real but whoever comes for me…you gon’ see” ',
                      profession:'Cast Member',
                      img:'../static/img/nadiya.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Idris',
                      description:'The Straight Shooter: Now let’s get this straight, Idris loves the ladies, but is ready to call them out on all their bullshit. Ready to tell it how it is, this Staten Island native is considered to be the alpha male who gets vocal when it is a subject close to home. Quote: “Don’t take it personally, but take it personal” ',
                      profession:'Cast Member',
                      img:'../static/img/idris.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'J.T',
                      description:'The Thunderbolt: Like a bolt of thunder, JT is a force to be reckoned with. He has opened up to the world with his truth since day one and is proud of who he is. Straight out of Harlem, he is ready to speak his mind and share his sentiments whether you agree or not! Quote: “Upon request I’m gay as fuck but also, I’m gay as fuck” ',
                      profession:'Cast Member',
                      img:'../static/img/jt.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Henni',
                      description:'The Lover and Fighter: A Brooklyn mom ready to speak the truth! Henni is not afraid to be transparent about her life and tell people the realities of the world we live in, even if that means ending up in an argument or five. Quote: “I’ve developed patience through my son, that’s how I can deal with all these bitches” ',
                      profession:'Cast Member',
                      img:'../static/img/henni.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Ewan',
                      description:'The Outlier: From Scotland to Brooklyn, Ewan is here to educate the people and bring a perspective that the world needs to see. He is not afraid to speak his mind and correct anyone; his wit and banter is second to none! Quote: “Im here to have a good time, what are you gonna do sue me? Oh well” ',
                      profession:'Cast Member',
                      img:'../static/img/ewan.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    },
                    {
                      name:'Lookman',
                      description:'The Family Man: Here to stand up for his people, Lookman is extremely passionate not only about being African, but a proud Nigerian! Currently repping Brooklyn, he is ready to stand up for his beliefs, culture, and to show people that not all men are ‘african demons’. Quote: “Trust me you will be entertained, don’t dull!” ',
                      profession:'Cast Member',
                      img:'../static/img/lookman.jpg',
                      socialMedia:{
                            facebook:'',
                            twitter:'',
                            instagram:'',
                            snapchat:''
                          }
                    }

                  ]
                }
              ]
            }
          ]// end of editions
        }// end of bkchat

      }// end of return
  },
  methods: {
    open: function(event){
      event.preventDefault();
      event.target.classList.toggle('open');
    } // end of open

  }// end of data

}// end of default
</script>

<style lang="css" scoped>
ul li {
  list-style: none;
}

.member {
  margin-top: 1em;
  margin-bottom: 1em;
}

.arrow:after{
  content:"";
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  margin-left:1em;
  transform: rotate(45deg);
-webkit-transform: rotate(45deg);
  border-radius:2px;
  position: relative;
  top: -12px;
  -webkit-transition: transform 1s ease-out; /* Safari */
  transition: transform 1s ease-out;
}

.arrow ~ ul {
  display:none;
  -webkit-transition: display 2s ease; /* Safari */
  transition: display 2s ease;
}

.open + ul {
  display:initial;
  -webkit-transition: display 2s; /* Safari */
  transition: display 2s;
}

.open:after {
  transform: rotate(-135deg);
  bottom:-12px;
  -webkit-transform: rotate(-135deg);
  top:-1px;
}

</style>
