<template lang="html">
<section class="col-lg-8">
  <div class="section">
    <h1 class="font1">{{contactTitle}}</h1>
    <p>{{contactMsg}}</p>
    <hr>
    <div v-for="contact in contactInfo" class="contact">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="postImg" v-bind:style="{'background-image': 'url('+ contact.img +')'}"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="row">
            <h3 class="font2">{{contact.name}}</h3>
          </div>
           <ul>
             <li>
               <b>Position:</b> {{contact.position}}
             </li>
             <li>
               <b>Email:</b> {{contact.email}}
             </li>
             <li v-if="contact.hasSocial == true">
               <b>Social media:</b>
                 <ul v-for="social in contact.socialMedia">
                   <li v-if="social.facebook && social.facebook !== ''">
                     <a :href="social.facebook">
                       <i class="fab fa-facebook-f"></i>
                     </a>
                   </li>
                   <li v-if="social.twitter && social.twitter !== ''" >
                     <a :href="social.twitter">
                       <i class="fab fa-twitter"></i>
                     </a>
                   </li>
                   <li v-if="social.instagram && social.twitter !== ''" >
                     <a :href="social.twitter">
                       <i class="fab fa-instagram"></i>
                     </a>
                   </li>
                 </ul>
              </li>
           </ul>
        </div>
       </div>
      </div> <!-- end of for -->

  </div>
</section>
</template>

<script>
export default {
  data(){
    return {
      contactTitle:'CONTACT',
      contactMsg:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
      contactInfo:[
        {
          name:'Andy Amadi',
          position:'CEO',
          email:'example@yahoo.com',
          img:'../static/img/andy.jpg',
          hasSocial:true,
          socialMedia:[
            {
              facebook:'https://www.facebook.com/',
              twitter:'https://www.twitter.com/',
              instagram:'https://www.instagram.com/'
            }
          ]
        },
        {
          name:'Reece Parkinson',
          position:'Host',
          email:'example@yahoo.com',
          img:'../static/img/reece.jpg',
          hasSocial:true,
          socialMedia:[
            {
              facebook:'https://www.facebook.com/',
              twitter:'https://www.twitter.com/',
              instagram:'https://www.instagram.com/'
            }
          ]
        },
        {
          name:'King Jus',
          position:'Film maker',
          email:'example@yahoo.com',
          img:'../static/img/kingjus.jpg',
          hasSocial:true,
          socialMedia:[
            {
              facebook:'https://www.facebook.com/',
              twitter:'https://www.twitter.com/',
              instagram:'https://www.instagram.com/'
            }
          ]
        }
      ]// end of contactInfo
    }
  }
}
</script>

<style lang="css" scoped>
  ul li {
    list-style: none;
  }
  ul {
    padding:0px;
  }
  ul li ul li {
    display:inline-block;
    margin-right:1em;
  }

  ul li ul li a {
    text-decoration: none;
  }

  .contact > .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .contact {
    padding:1em;
  }

</style>
