<template lang="html">
  <footer class="row">
    <div class="col-lg-12">
      <h3 class="font2"><span>B</span><span class="flip">K</span>CHAT</h3>
    </div>
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="css">
  footer {
    margin-top:3em;
    background-color:#262624;
    max-height:300px;
  }
  .flip {
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    position:relative;
  }

  footer h3 {
    color:white;
  }
</style>
