<template lang="html">
  <div>
    <header class="header_img">
    </header>
    <nav>
      <ul>
        <li class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" v-for="link in navLinks">
          <a :href="link.url" class="font3"> {{link.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data(){
    return {
      navLinks:[
        {
          name:'home',
          url:'/'
        },
        {
          name:'contact',
          url:'/contact'
        },
        {
          name:'cast members',
          url:'/cast_members'
        }
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.header_img {
  background-image: url('../../static/img/header.jpg');
  background-size:contain;
  height:20em;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  list-style: none;
  display:inline-block;
  text-transform: uppercase;
}

nav ul {
  text-align: center;
  padding:0px;
}

nav {
  background-color:#0882FF;
  width:90% !important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 5px;
}

nav ul li a {
  text-decoration:none;
  color:white;
  font-size: 1.5em;
  text-shadow: 1px 2px 5px black
}
nav ul li a:hover {
  color:#FFC611;
}
</style>
