<template lang="html">
  <div id="app" class="container">
    <Header></Header>
    <div class="row">
      <Main></Main>
      <Aside></Aside>
    </div>
  </div>
</template>

<script>

import Header from './components/Header';
import Main from './components/Main';
import Aside from './components/Aside';
import Contact from './components/Contact'

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
    'Header':Header,
    'Main':Main,
    'Aside':Aside,
    'Contact':Contact
  }
}
</script>

<style lang="css">
</style>
