<template lang="html">
  <section class="col-lg-8">
    <div class="section">
      <h1 class="font1">{{welcome_title}}</h1>
      <p>{{welcome_msg}}</p>
      <hr>
      <h1 class="font2">{{news_title}}</h1>

      <div class="news_post" v-for="news in news_post">

        <div v-if="news.img !== '' " class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="postImg" v-bind:style="{'background-image': 'url('+ news.img +')'}"></div>

        </div>

          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <h2 class="font1">{{news.title}}</h2>
            <p class="content">{{news.content}}</p>
          </div>
        </div>

        <div v-else class="row">
          <div class="col-lg-12">
            <h2 class="font1">{{news.title}}</h2>
            <p class="content">{{news.content}}</p>
          </div>
        </div>
        <hr>
      </div>  <!-- end of for -->
    </div>
  </section>
</template>

<script>
import Aside from './Aside';

export default {
  data(){
    return{
      welcome_title:'Welcome to BkChat LDN!',
      welcome_msg:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
      news_title:'NEWS',
      news_post:[
        {
          title:'Latest news from BkChat:',
          img:'',
          content:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
          id:'1',
          date:''
        },
        {
          title:'Latest news from BkChat:',
          img:'../static/img/img1.jpg',
          content:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
          id:'1',
          date:''
        },
        {
          title:'Latest news from BkChat:',
          img:'',
          content:'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.',
          id:'1',
          date:''
        }
      ]
    }
  }// end of data
}
</script>

<style lang="css" scoped>
  .content,.news_post {
    margin:1em;
  }
  .news_post > .row > div > h2{
    margin-left: 0.5em;
  }
</style>
