<template>
  <div id="app" class="container">
    <Header></Header>
    <div class="row">
      <router-view></router-view>
      <Aside></Aside>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './components/Header';
import Footer from './components/Footer';
import Aside from './components/Aside';

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
    'Header':Header,
    'Aside':Aside,
    'Footer':Footer
  }
}
</script>

<style>
</style>
